<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Enrolled Devices</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        .user-info {
            margin-bottom: 20px;
        }

        .location {
            margin-bottom: 10px;
        }

        .device-list {
            list-style-type: none;
            padding: 0;
        }

        .device {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>

    <div class="user-info">
        <h2>User : {{user_name}}</h2>
    </div>

     <h3>add devices to your locations </h3>

</body>

</html>